<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- jQueryとBootStrap一式 -->
<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"  crossorigin="anonymous" />
<!-- Optional theme -->
<link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css"
	crossorigin="anonymous" />
<!-- Latest compiled and minified JavaScript -->
<script src="bootstrap/js/bootstrap.min.js" crossorigin="anonymous"></script>
<!-- jQueryとBootStrap一式 -->
<style>
</style>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>chat</title>
</head>
<body>

	<table class="table" style="border: 0">

		<tr>
			<td style="width: 70%"><div th:text="'message:' + ${msg}"></div>
				<div style="height: 460px; overflow-y: scroll;">

					<div th:each="obj : ${msglist}">
						<div th:text="${obj.userdata.name} + ':' + ${obj.message}"></div>
					</div>
				</div></td>
			<td valign="top" style="width: 30%">
				<p>name</p>
				<div style="height: 460px; overflow-y: scroll;">

					<div th:each="obj : ${userlist}">
						<div th:if="${obj.userid != userid}">
							<div th:text="${obj.name}"></div>
						</div>
						<div th:if="${obj.userid == userid}">
							<font color="#FF0000"><div th:text="${obj.name} + '（自分）'"></div></font>
						</div>
					</div>
				</div>

			</td>
		</tr>
	</table>




</body>
</html>
