<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- jQueryとBootStrap一式 -->
<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"
	crossorigin="anonymous" />
<!-- Optional theme -->
<link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css"
	crossorigin="anonymous" />
<!-- Latest compiled and minified JavaScript -->
<script src="bootstrap/js/bootstrap.min.js" crossorigin="anonymous"></script>
<!-- jQueryとBootStrap一式 -->
<style>
.gooda {
	position: relative;
	padding-bottom: 500px;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	margin-top: 0px;
	margin-bottom: 0px;
}

.gooda iframe {
	position: absolute;
	top: 0;
	left: 0;
	border: 0px red solid;
	width: 100%;
	height: 100%;
}
</style>
<script type="text/javascript">
	function rset(f) {
		f.submit();
		f.reset();
	}
</script>
<title>message tool</title>
</head>
<body>
	<table class="table" style="margin-bottom: 0px;">
		<tr>
			<td>
				<p th:text="${msg}">message here.</p>
			</td>
			<td>

				<form method="post" action="/exit" target="_top">
					<input type="hidden" name="exit_req" value="true" /> <input
						type="hidden" name="userid" th:value="${userid}" /> <input
						type="submit" value="exit" />
				</form>
			</td>
		</tr>
	</table>
	<div class="gooda">
		<iframe src="/chat" name="chatinner"></iframe>
	</div>

	<table>
		<tr>
			<td>
				<form method="post" action="/chat" target="chatinner"
					th:object="${msgModel}">
					<input type="text" size="50" name="message" th:value="*{message}" />
					<input type="hidden" name="write_req" value="true" /><input
						type="hidden" name="userid" th:value="${userid}" /> <input
						type="button" value="send!" onclick="rset(this.form)" />
				</form>
			</td>
			<td>
				<form name="reload" method="post" target="chatinner" action="/chat">
					<input type="hidden" name="reload_req" value="true" /><input
						type="hidden" name="userid" th:value="${userid}" /> <input
						type="submit" value="reload" />

				</form>
			</td>
		</tr>
	</table>

</body>
</html>
