<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>

</style>

</head>
<body>
	<h1 th:text="#{content.title}">chat top page.</h1>
	<p th:text="${msg}"></p>



	<table>
		<form method="post" action="/chat" th:object="${formModel}">
						<input type="hidden" name="join_req" value="true" />
			<ul>
				<li th:each="error : ${#fields.detailedErrors()}" class="err"
					th:text="${error.message}" />
			</ul>
			<tr>
				<td><label for="name">name </label></td>
				<td><input type="text" name="name" th:value="*{name}" /></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="join!" /></td>
			</tr>
		</form>
				<form method="post" action="/rchat" th:object="${formModel}">
			<input type="hidden" name="id" th:value="*{id}" />
						<input type="hidden" name="join_req" value="true" />
			<ul>
				<li th:each="error : ${#fields.detailedErrors()}" class="err"
					th:text="${error.message}" />
			</ul>
			<tr>
				<td><label for="name">name </label></td>
				<td><input type="text" name="name" th:value="*{name}" /></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="rest_join!" /></td>
			</tr>
		</form>
	</table>

</body>
</html>