<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
h1 {
	font-size: 18pt;
	font-weight: bold;
	color: gray;
}

body {
	font-size: 13pt;
	color: gray;
	margin: 5px 25px;
}

pre {
	border: solid 3px;
	color: gray;
	margin: 5px 25px;
}

tr {
	margin: 5px;
}

th {
	padding: 5px;
	color;
	white;
	background;
	darkgray;
}

td {
	padding: 5px;
	color: black;
	background: #e0e0ff;
}
</style>
<body>
	<h1 th:text="#{content.chaterror}">chat error page.</h1>
	<p th:text="${msg}"></p>




	<form method="get" action="/" target="_top">
		<input type="submit" value="return to top page" />
	</form>

</body>
</html>