<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- jQueryとBootStrap一式 -->
<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"  crossorigin="anonymous" />
<!-- Optional theme -->
<link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css"
	crossorigin="anonymous" />
<!-- Latest compiled and minified JavaScript -->
<script src="bootstrap/js/bootstrap.min.js" crossorigin="anonymous"></script>
<!-- jQueryとBootStrap一式 -->

<style>
</style>
<title>chat</title>
</head>
<body>
<h1 th:text="#{content.chatwindow}">chat window page.</h1>
<p th:text="${msg}">message here.</p>


</body>
</html>
