<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
h1 {
	font-size: 18pt;
	font-weight: bold;
	color: gray;
}

body {
	font-size: 13pt;
	color: gray;
	margin: 5px 25px;
}

pre {
	border: solid 3px;
	color: gray;
	margin: 5px 25px;
}

tr {
	margin: 5px;
}

th {
	padding: 5px;
	color;
	white;
	background;
	darkgray;
}

td {
	padding: 5px;
	color: black;
	background: #e0e0ff;
}
</style>
<title>Insert title here</title>
</head>
<body>
	<h1 th:text="${title}">MyMsg page</h1>
	<p th:text="${msg}"></p>
	<table>
		<form method="post" action="/msg" th:object="${formModel}">
			<input type="hidden" name="id" th:value="*{id}" />
			<tr>
				<td><label for="title">タイトル</label></td>
				<td><input type="text" name="title" th:value="*{title}" /></td>
			</tr>
			<tr>
				<td><label for="message">メッセージ</label></td>
				<td><textarea name="message" th:text="*{message}"></textarea></td>
			</tr>
			<tr>
				<td><label for="mydata">MYDATA_ID</label></td>
				<td><input type="text" name="mydata" /></td>unj
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" /></td>
			</tr>
		</form>
	</table>
	<hr />
	<table>
		<tr>
			<th>ID</th>
			<th>名前</th>
			<th>タイトル</th>
		</tr>
		<tr th:each="obj : ${datalist}">
			<td th:text="${obj.id}"></td>
			<td th:text="${obj.mydata.name}"></td>
			<td th:text="${obj.title}"></td>
		</tr>
	</table>


</body>
</html>