<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
h1 {
	font-size: 18pt;
	font-weight: bold;
	color: gray;
}

body {
	font-size: 13pt;
	color: gray;
	margin: 5px 25px;
}

pre {
	border: solid 3px;
	color: gray;
	margin: 5px 25px;
}

tr {
	margin: 5px;
}

th {
	padding: 5px;
	color;
	white;
	background;
	darkgray;
}

td {
	padding: 5px;
	color: black;
	background: #e0e0ff;
}
</style>
<body>
	<h1 th:text="${title}">Helo page</h1>

	<table>
		<form method="post" action="/delete" th:object="${formModel}">
			<input type="hidden" name="id" th:value="*{id}" />
			<tr>
				<td><p th:text="|名前: *{name}|"></p></td>
			</tr>
			<tr>
				<td><p th:text="|年齢: *{age}|"></p></td>
			</tr>
			<tr>
				<td><p th:text="*{mail}"></p></td>
			</tr>
			<tr>
				<td><p th:text="*{memo}"></p></td>
			</tr>
			<tr>
				<td><input type="submit" value="delete" /></td>
			</tr>

		</form>
	</table>

</body>
</html>