<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
h1 {
	font-size: 18pt;
	font-weight: bold;
	color: gray;
}

body {
	font-size: 13pt;
	color: gray;
	margin: 5px 25px;
}

pre {
	border: solid 3px;
	color: gray;
	margin: 5px 25px;
}

tr {
	margin: 5px;
}

th {
	padding: 5px;
	color;
	white;
	background;
	darkgray;
}

td {
	padding: 5px;
	color: black;
	background: #e0e0ff;
}
</style>
<body>
	<h1 th:text="#{content.title}">index page</h1>
	<p th:text="${msg}"></p>

	<table>
		<form method="post" action="/edit" th:object="${formModel}">
		<input type="hidden" name="id" th:value="*{id}" />
		<tr>
			<td><label for="name">name </label></td>
			<td><input type="text" name="name" th:value="*{name}" /></td>
		</tr>
		<tr>
			<td><label for="age">age</label></td>
			<td><input type="text" name="age" th:value="*{age}" /></td>
		</tr>
		<tr>
			<td><label for="mail">mail</label></td>
			<td><input type="text" name="mail" th:value="*{mail}" /></td>
		</tr>
		<tr>
			<td><label for="memo">memo</label></td>
			<td><textarea name="memo" th:text="*{memo}" cols="20" rows="5"></textarea>
			</td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" /></td>
		</tr>
		</form>
	</table>


</body>
</html>