<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
h1 {
	font-size: 18pt;
	font-weight: bold;
	color: gray;
}

body {
	font-size: 13pt;
	color: gray;
	margin: 5px 25px;
}

pre {
	border: solid 3px;
	color: gray;
	margin: 5px 25px;
}

tr {
	margin: 5px;
}

th {
	padding: 5px;
	color;
	white;
	background;
	darkgray;
}

td {
	padding: 5px;
	color: black;
	background: #e0e0ff;
}
</style>
<body>
	<h1 th:text="#{content.title}">Helo page</h1>
	<p th:text="${msg}"></p>



	<table>
		<form method="post" action="/" th:object="${formModel}">
			<ul>
				<li th:each="error : ${#fields.detailedErrors()}" class="err"
					th:text="${error.message}" />
			</ul>
			<tr>
				<td><label for="name">名前 </label></td>
				<td><input type="text" name="name" th:value="*{name}" /></td>
			</tr>
		<tr>
			<td><label for="age">年齢</label></td>
			<td><input type="text" name="age" th:value="*{age}" /></td>
		</tr>
		<tr>
			<td><label for="age">メール</label></td>
			<td><input type="text" name="mail" th:value="*{mail}" /></td>
		</tr>
		<tr>
			<td><label for="memo">メモ</label></td>
			<td><textarea name="memo" th:text="*{memo}" cols="20" rows="5"></textarea>
			</td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" /></td>
		</tr>
		</form>
	</table>
	<hr />
	<table>
		<tr>
			<th>ID</th>
			<th>名前</th>
			<th>年齢</th>
			<th>mail</th>
			<th>メモ</th>
		</tr>
		<tr th:each="obj : ${datalist}">
			<td><a th:href="@{'/edit/' + ${obj.id}}"><p
						th:text="${obj.id}"></p></a></td>
			<td th:text="${obj.name}"></td>
			<td th:text="${obj.age}"></td>
			<td th:text="${obj.mail}"></td>
			<td th:text="${obj.memo}"></td>
		</tr>
	</table>

</body>
</html>