<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>top page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<style>
h1{ font-size:18pt; font-weight:bold; color:gray;}
body{font-size:13pt; color:gray; margin:5px 25px;}
pre{ border:solid 3px; color:gray; margin:5px 25px;}
</style>
</head>
<body>
<h1 th:text="#{content.title}">Helo page</h1>
<div th:switch="${check}">
<p th:case="0" th:text="|${month} - Winter|"></p>
<p th:case="1" th:text="|${month} - Spring|"></p>
<p th:case="2" th:text="|${month} - Summer|"></p>
<p th:case="3" th:text="|${month} - Autumn|"></p>
<p th:case="4" th:text="|${month} - Winter|"></p>
<p th:case="*">...?</p>



</div>
</body>
</html>