<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<h1>Hello page2</h1>
	<p th:text="${msg}">please wait...</p>
	<form method="post" action="/">
		<input type="text" name="text1" th:value="${value}" /> <input
			type="submit" value="Click" />


	</form>


	<p th:text="${new java.util.Date().toString()}"></p>
	<p th:text="${#strings.toUpperCase('Welcome to Spring.')}"></p>

	<!-- 	<p th:text="'from parameter... id=' + ${param.id[0] + ' name=' + param.name[0]  }"></p> -->

	<h1 th:text="#{content.title}">Helo page</h1>
<!-- <p><a th:href="@{'/home/' + ${param.id[0]}}">link</a></p> -->	



</body>
</html>