<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
h1 {
	font-size: 18pt;
	font-weight: bold;
	color: gray;
}

body {
	font-size: 13pt;
	color: gray;
	margin: 5px 25px;
}

pre {
	border: solid 3px;
	color: gray;
	margin: 5px 25px;
}

tr {
	margin: 5px;
}

th {
	padding: 5px;
	color;
	white;
	background;
	darkgray;
}

td {
	padding: 5px;
	color: black;
	background: #e0e0ff;
}
</style>
<body>

<table>
		<tr>
			<th>ID</th>
			<th>name</th>
			<th>age</th>
			<th>mail</th>
			<th>memo</th>
		</tr>
		<tr>
			<td><p th:text="${obj.id}"></p></td>
			<td th:text="${obj.name}"></td>
			<td th:text="${obj.age}"></td>
			<td th:text="${obj.mail}"></td>
			<td th:text="${obj.memo}"></td>
		</tr>
	</table>

</body>
</html>